.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	width: 228px; /*width of featured content slider*/
	height: 182px;
	background: white;
	border:1px solid #CCCCCC;
}

.contentdiv{
	visibility: hidden;
	position: absolute; 
	left: 0;
	top: 0;
	background: white;
	width: 220px;
	height: 100%;
	filter: alpha(opacity=100);
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.contentdiv img{
	margin: 0px;
	padding: 5px;
	width: 218px;
	height: 172px;
}

