@charset "utf-8";
/* CSS Document */

/* standardized element styling */

body {
	text-align: center;
	margin:0; 
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	border-top: 7px solid black;
	background-color:white !important;
}

a {
	text-decoration: underline;
	color:#447B06;
}

a:hover {text-decoration: none;}

img {	border: 0px;}

input, textarea, select, option {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
}

.page{
	position: relative;
}

/* page_menu*/

.page_menu {
	float:right;
	height:34px;
	overflow:hidden;
	margin-bottom:30px;
}

	.page_menu ul li {
		background:transparent url(../grf/new/page-menu-separator.png) no-repeat 0 0;
		display:block;
		float:left;
		height:34px;
		padding-left:2px;
		line-height:30px;
		margin-left:10px;
	}
		.page_menu ul li.first {
			background:none;
			padding-left:0;
		}
			.page_menu ul li a {
				margin-left:10px;
				font-size:12px;
				color:#535353;
				text-decoration: none;
				display: inline-block;
			}
				.page_menu ul li.current_page_item a,
				.page_menu a:hover { color:#7F0F0F; }
				.page_menu ul li img { margin-top: 5px; }

/* logo */

	.logo{
		position: absolute;
		top: 20px;
		left:20px;
		}

/* menu_top */

.menu_top{ 
	background-color:#878787;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:20px;}
	
	.menu_top ul li{
		display:block;
		float:left;
		padding-top:8px;
	}
		.menu_top ul li a{
		padding:7px 15px;
		color:#FFFFFF;
		border-right: 1px solid white;
		text-decoration: none;
	}
			.menu_top ul li a .current{
				color: yellow;
	}
	
	/* content_3_col */

		.content_3_col{
			color:#515151;
			font-size:12px;
			line-height:18px;
			text-align: justify;
		}
			
			.content_3_col .content_col_l {
				width: 230px;
				float: left;
			}

			.content_3_col .content_col_c {
				width:  500px;
				float: left;
				margin:0 20px;
			}

			.content_3_col .content_col_r {
				width: 230px;
				float: left;
			}

	/* menu_left */

			.menu_left{
				width: auto;
				height:auto;
				background-color:#f5f5f5;
				padding:5px;
			}
				.menu_left ul {
					list-style-type: none;
				}
			
					.content_3_col .content_col_c h1 {
						color:#96ba8c;
						font-size:22px;
						font-weight:bold;
						padding: 6px 5px 10px 0px;
						border-bottom: 1px dotted #a6a6a6;
						margin-bottom: 10px;
						line-height: 24px;
						text-align: left;
					}
					.content_3_col .content_col_c h2 {
						padding: 10px 0 10px 0;
					}
					.content_3_col .content_col_c h3{
						color:#96ba8c;
						font-size:16px;
						font-weight:bold;
						padding: 15px 5px 10px 0px;
					}
					.content_3_col .content_col_c h4{
						color:#96ba8c;
						font-size:15px;
						font-weight:bold;
						padding: 5px 5px 10px 0px;
					}
					.content_3_col .content_col_c p {
						margin-bottom: 10px;
					}
					.content_3_col h2{ color:#96BA8C !important;
						font-size:20px;
						font-weight:bold;
						padding: 5px 5px 10px 5px;
					}

			

			
						.menu_left ul li{ 
							background-image:url(../grf/new/menu_left.png);
							background-repeat:no-repeat;
							font-size:13px;
							font-weight:bold;
							color:#000000;
							text-align:left!important;
							padding-left:15px;
							padding-bottom:8px;
						}
							.menu_left ul li a{
								color:#000000;
								text-decoration: none;
							}
							
								.menu_left ul li a:hover{
									text-decoration: underline;
								}

/* calendar */

			.calendar{
				width: auto;
				background-color:#e5e5e5;
				padding:5px;
			}
			
/* galeria */
			.galeria{
				width: auto;
				
			}
					
/* item_new */
			.item_new{
				height:auto;
				width:auto;
			}
			
				.item_new .item_name{
					padding:10px 0 5px 0;
					line-height:23px;
				}
					.item_new .item_name a{
						color: #56794e;
						font-size:16px;
						font-weight:bold;				
					}
						.item_new .item_name a:hover{
							color:#447b06;
							text-decoration:none;		
						}
						.item_new .viac{
							float:right;
							margin-top:15px;	
						}
								.item_new .viac a{
									color:#447b06;
								}
								.item_new a{
									color:#447b06;
								}
					.item_new .item_image img{
						margin:7px 10px 5px 0;
						display:block;
						float:left;
				}
	/* right_botton */				
					
				.right_button{
					float:right;
					margin-top: 5px;
					background:url(../grf/new/right_botoon.png) no-repeat top right;
					padding-right:15px;
					}
					.right_button a{
						color: #aaaaaa;
						font-weight:bold;
						text-decoration: none;
					}
				
						.right_button a:hover{
							color: #878787;
						}
				
					.right_button2{
						float:right;
						margin-top:10px;
						background:url(../grf/new/right_botoon.png) no-repeat top right;
						padding-right:15px;
						margin: 5px 10px 0 0;
					}
						.right_button2 a{
							color: #aaaaaa;
							font-weight:bold;
							text-decoration: none;
						}
				
							.right_button2 a:hover{
								color: #878787;
							}
				
					.right_button3{
						float:right;
						background:url(../grf/new/right_botoon.png) no-repeat top right;
						padding-right:15px;
						}
						.right_button3 a{
							color: #aaaaaa;
							font-weight:bold;
							text-decoration: none;
						}
							.right_button3 a:hover{
								color: #878787;
							}
					
/* footer */	

				.footer{
					height:125px;
					background-color:#e5e5e5;
					padding:10px;
					margin:20px 0 100px 0;
					}
					
					.footer .f_item {
						width:243px; 
						margin-right:2px;
						display:block;
						font-size:18px;
						font-weight: normal;
						color: #666666;
						float:left;
					}		
					
						.footer .f_item a {
							font-size:18px;
							font-weight: normal;
							color: #666666;
						}	

						.footer .f_item h3{
							font-size:20px;
							font-weight:bold;
							color:#a0a0a0;
							margin-bottom:20px;
							margin-top:5px;
						}
					
					    .footer .f_item input{
							background:url(../grf/new/input.jpg) no-repeat;
							width:215px;
							height:26px;
							border:none;
							color:#999999;
							font-size:14px;
							padding:3px;
							margin-bottom:15px;
							margin-top:0px;
						}
						.footer .f_item img{
							padding-right:10px;
					}

					
					.footer .f_bottom{
						display: block;
						font-size:11px;
						color:#999999;
						line-height:15px;
						}
						
					
						.footer .f_bottom a{
							color:#333333;
							font-weight:bold;
						}
					
/* calendar tabulka*/

.calendar .box_i {
	padding-left: 0;
}
	.calendar-sk .month_1 { background: transparent url(../grf/new/calendar/sk-month1.png) 0px 14px no-repeat;  }
	.calendar-sk .month_2 { background: transparent url(../grf/new/calendar/sk-month2.png) 0px 14px no-repeat; }
	.calendar-sk .month_3 { background: transparent url(../grf/new/calendar/sk-month3.png) 0px 14px no-repeat; }
	.calendar-sk .month_4 { background: transparent url(../grf/new/calendar/sk-month4.png) 0px 14px no-repeat; }
	.calendar-sk .month_5 { background: transparent url(../grf/new/calendar/sk-month5.png) 0px 14px no-repeat; }
	.calendar-sk .month_6 { background: transparent url(../grf/new/calendar/sk-month6.png) 0px 14px no-repeat; }
	.calendar-sk .month_7 { background: transparent url(../grf/new/calendar/sk-month7.png) 0px 14px no-repeat; }
	.calendar-sk .month_8 { background: transparent url(../grf/new/calendar/sk-month8.png) 0px 14px no-repeat; }
	.calendar-sk .month_9 { background: transparent url(../grf/new/calendar/sk-month9.png) 0px 14px no-repeat; }
	.calendar-sk .month_10 { background: transparent url(../grf/new/calendar/sk-month10.png) -4px 14px no-repeat; }
	.calendar-sk .month_11 { background: transparent url(../grf/new/calendar/sk-month11.png) 0px 14px no-repeat; }
	.calendar-sk .month_12 { background: transparent url(../grf/new/calendar/sk-month12.png) 0px 14px no-repeat; }
	
	.calendar .legend {
		margin-bottom: 10px;
	}
		.calendar .legend .event_native {
			border-left: #6fab4b 10px solid;
			padding-left: 5px;
		}
		.calendar .legend .event_other {
			border-left: #b1d19d 10px solid;
			padding-left: 5px;
			margin-left:25px;
		}
	
	.calendar table {
		font-size: 11px !important;
		margin: 10px 0 5px 30px;
	}
		.calendar table td {
			width: 26px;
			height: 15px;
			overflow: hidden;
			position: relative;
		}
		.calendar table td.empty {
			background-color: white;
		}
			.calendar table td span {
				display: block;
				border: 1px #efefef solid;
				padding: 1px;
				text-align: center;
			}
			.calendar table td.empty span {
				border: 1px #dedede solid;
			}
			.calendar table td.event span {
				border: 1px #efefef solid;
				background: #a8cc92;
				color: #fff;
			}
			.calendar table td.event_native span {
				border: 1px #efefef solid;
				background: #6fab4b;
				color: #fff;
			}
			.calendar table td.today span {
				border: 1px #6b6b6b solid !important;
				font-weight:bold;
				background: #f3ef8d !important;
				color: #3a5534;
			}
			.calendar table td a {
				display: block;
				/*height: 16px;*/
				/*overflow: hidden;*/
				text-decoration: none;
				color: #fff;
			}

/* button */		

	.button {
		float:right; 
		display: inline-block;
		background: transparent url(../grf/new/botton-left.png) left top no-repeat;
		background-repeat: no-repeat;
		padding:0 0 0 10px !important;
		width:auto;_width:80px;
		text-decoration: none !important;
	}

		a.button span{
			display:block;
			background: transparent url(../grf/new/botton.png) right top no-repeat;
			background-repeat: no-repeat;
			padding: 2px 13px 7px 5px;
			font-weight:normal;
			color:#838383;
			font-size:12px;
			height:13px;
		}
		.button:hover{ 
			background-position:0% -22px;
			text-decoration:none;
		}
		.button:hover span{ 
			background-position:100% -22px;
			color:#454545;
		}
/* twitter */	

.twitter {
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	text-align: left;
	font-weight: bold;
}
	.twitter ul {
		list-style-type: none;
		margin-left: 0;
	}
	.twitter li{
		padding-bottom: 10px;
		margin-bottom:2px;
		border-bottom: 1px dotted #a0a0a0;
		padding:5px;
	}
	
	.twitter a{ color: #1985b6;
	font-size:12px;
	font-weight:normal;
	}
	
	.twitter1{
		float: right;
		font-weight: bold !important;
		margin-top:5px;
	}

/* Article */
.content_col_c .article_view {
	font-size:13px;
	margin-bottom: 10px;
}
	.content_col_c .article_view p,
	.content_col_c .article_view ul,
	.content_col_c .article_view ol {
		margin-bottom: 1em;
	}
	.content_col_c .article_view a{
		color: #56794e;
	}
	.content_col_c .article_view .image_center {
		display: block;
		margin-bottom: 1em;
		text-align: center;
	}
	.content_col_c .article_view .item_date {
		border-top: 1px dotted #a0a0a0;
		padding: 10px 0 5px 0;
		margin-top:10px;
	}

.breadcrumbs {
	border-bottom: 1px dotted #a0a0a0;
	padding-bottom:5px;
	margin-bottom:5px;	
}

	.breadcrumbs a {
		color: #595959;
		font-weight: normal;	
	}
	
		.paging {
				border: 1px solid #d3d3d3;
				background-color: #f5f5f5;
				margin:5px 0;
				padding:0 15px;
				margin-top:15px;
		}
		
			.paging a {
			color: #447B06;
			margin: 5px 0;
			font-weight: bold;
			font-size:14px;
		}
	
/* image-gallery */

	.banner img{
		padding-bottom:15px;
	}

/* image-gallery */

.image_list{
	margin-top:5px;
}
	.image_list img{
		float: left;
		border: 1px solid #d3d3d3;
		background-color: #f5f5f5;
		margin:3px;
		padding:4px;
		width:108px;
	}
		.image_list a{
			color: #447B06;
			margin: 10px 0;
			font-weight: bold;
			font-size:16px;
		}
				.gallery_contents h2 a{
					color:#447B06;
					font-size:20px;
					font-weight:bold;
					margin-bottom:10px;
				}
				.gallery_contents .description{
					margin-bottom:10px;
						}
						.gallery_contents .content img{
							width:163px;
							margin-bottom:5px;
						}
						
						.gallery_item{
							border-bottom: 1px dotted #d3d3d3;
							margin-top:10px;
						}
						
						.gallery_item .gallery_title{
							font-size:14px;
							font-weight: bold;
							line-height:20px;
						}
						
.article_cat_list .item {
}
	.article_cat_list .item h2 a {
		color:#447B06;
		font-size:20px;
		font-weight:bold;
		margin-bottom:10px;
		line-height:25px;
	}
	
.content_col_l .box,
.content_col_r .box {
	margin-bottom: 10px;
}
.content_col_l .box_title,
.content_col_r .box_title {
	color: #96BA8C;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 5px 10px;
}
.content_col_l .box_gray .box_title,
.content_col_r .box_gray .box_title {
	color: #A0A0A0;
}

.article_list .item_name {
	padding: 10px 0 5px;
	color: #56794E;
	font-size: 16px;
	font-weight: bold;
}

/*  */
.event_list li {
border-bottom: 1px dotted #a0a0a0;
padding:10px 0 15px 0;
list-style: none;
}

.event_list ul {
margin-left: 0 !important;
}
.event_list .item_name {
	display: block;
	padding: 5px 0 5px;
	color: #56794E;
	font-size: 16px;
	font-weight: bold;	
}
.event_list .item_description {
	font-size:13px;
	margin-bottom: 10px;
}

.event_archiv{
	float: right;
	display: block;
	font-weight: bold;
	padding-top:10px;
}

.event_archiv a{
	color: #959595;
	font-size:14px;
}

.event_ics{
	padding-top:10px;
	text-align:left;
	margin-bottom:10px;
	text-align:left;
	margin-left:32px;
	
}

.event_ics a{
	color: #656565;
	font-size:12px;
}


/* tooltip */
.tooltip{
	position:fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	background-color: #eeeeee;
	border:1px solid #878787;
	padding:3px 10px;
}

	.tooltip li{
		list-style: disc;
		margin-left:15px;
	}
	
	.tooltip li a{
		color: #515151 !important;
	}

	.tooltip li a:hover{
		color: #56794e !important;
	}
	
/* identica */
.identica{
	font-size:13px !important;
}