@import url("reset.screen.css");

/* standardized element styling */

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0px;
}
input,
textarea,
select,
option {
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
	margin-left: 1em;
}


/* standardized classes */

.nodisp { display: none; } /* compatibility reasons - used by 301 register */

.d-none { display: none; }
.d_none { display: none; }
.d_block { display: block; }
.d_inline { display: inline; }

.fl_left { float: left; }
.fl_right { float: right; }
.fl_clear,
.fl_clear_l,
.fl_clear_r {
  display: block;
  height: 1px; font-size: 1px;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.fl_clear_l {
  clear: left;
}
.fl_clear_r {
  clear: right;
}

.ta_left { text-align: left !important; }
.ta_right { text-align: right !important; }
.ta_justify { text-align: justify !important; }
.ta_center { text-align: center !important; }

.fw_bold {	font-weight: bold !important; }
.fs_italic { font-style: italic !important; }

/* misc */
.nowrap { white-space: nowrap; }

.cur_help { cursor: help; }

/* standardized page elements setup */

.page {
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
	text-align: left;

}
	.page_i {
		padding: 10px;
	}
		.page_head {
			height: 100px;
		}
		
		.menu_top {
			margin-bottom: 10px;
			margin-top:5px;
			padding: 5px;
		}
			.menu_top ul {
				margin: 0;
				padding: 0;
			}

	
			
		.usrm {
			margin-bottom: 10px;
		}
			.usrm_i {
				padding: 5px;
			}
				.usrm_login {
					float: left;
				}
				.usrm_tools {
					float: right;
				}
					.usrm_tools a {
					}
		
		.page .content_col_r .box {
			margin-bottom: 10px;
		}
			.page .content_col_r .box_i {
				padding: 0 5px 0;
			}
		
		.page_frame_3_col {
			
		}
			.page_frame_3_col .col_l {
				width: 200px;
				float: left;
			}
				.page_frame_3_col .col_l_i {
					
				}
			.page_frame_3_col .col_c {
				width: 700px;
				float: left;
			}
				.page_frame_3_col .col_c_i {
					
				}
			.page_frame_3_col .col_r {
				width: 200px;
				float: left;
			}
				.page_frame_3_col .col_r_i {
					
				}
		
		.page_frame_2_col {
			
		}
			.page_frame_2_col .col_l {
				width: 200px;
				float: left;
			}
				.page_frame_2_col .col_l_i {
					
				}
			.page_frame_2_col .col_r {
				width: 200px;
				float: left;
			}
				.page_frame_2_col .col_r_i {
					
				}

.info {
margin-left: 10px;
margin-top: 5px;
float: left;
width: 350px;
}

.info_noimage {
margin-left: 110px;
margin-top: 5px;
float: left;

}

.org_name {
color: #96ba8c !important;
width: 350px;
font-size: 20px;
font-weight: bold;
}

.image {
float: left;
}
